/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-what1 {
  background-image: url(../img/spritesheet.png);
  background-position: -247px 0px;
  width: 205px;
  height: 160px;
}
.icon-what2 {
  background-image: url(../img/spritesheet.png);
  background-position: -167px -236px;
  width: 146px;
  height: 115px;
}
.icon-what3 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -236px;
  width: 167px;
  height: 158px;
}
.icon-what4 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 247px;
  height: 236px;
}
