@@include('../partials/header.html')
<h1 class="page-name">
    @@name
</h1>
<div class="page-role">
    <span>Role:</span> front end
</div>
<div class="page-tools">
    <span>Tech:</span> 
    @@tech
</div> 
<div class="page-images">
    <div class="page-image">
        <img src="https://unsplash.it/800/1000" alt="">
    </div>
    <div class="page-image small">
        <img src="https://unsplash.it/350/500" alt="">
    </div>
    <div class="page-image small">
        <img src="https://unsplash.it/350/500" alt="">
    </div>
</div>

@@include('./contact.html')
@@include('../partials/footer.html') 