/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-how1 {
  background-image: url(../img/spritesheet.png);
  background-position: -148px 0px;
  width: 50px;
  height: 50px;
}
.icon-how2 {
  background-image: url(../img/spritesheet.png);
  background-position: -148px -100px;
  width: 50px;
  height: 42px;
}
.icon-how3 {
  background-image: url(../img/spritesheet.png);
  background-position: -148px -50px;
  width: 50px;
  height: 50px;
}
.icon-how4 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -143px;
  width: 46px;
  height: 43px;
}
.icon-what1 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 78px;
  height: 75px;
}
.icon-what2 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -75px;
  width: 66px;
  height: 68px;
}
.icon-what3 {
  background-image: url(../img/spritesheet.png);
  background-position: -78px 0px;
  width: 70px;
  height: 66px;
}
.icon-what4 {
  background-image: url(../img/spritesheet.png);
  background-position: -66px -75px;
  width: 64px;
  height: 64px;
}
