@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=VT323');
body {
    background-color: $white;
    font-family: 'Roboto', sans-serif;
    color: $dark;
    margin: 0;
}

.container {
    width: 978px;
    margin: 0 auto;
    @media(max-width:1250px) {
        width: 100%;
        padding: 80px 0 0;
    }
}

.title-section {
    margin: 0;
    color: $dark;
    font-size: 25px;
    position: relative;
    padding-bottom: 40px;
}
a {
    color: $dark;
    font-size: 20px;
    transition: all 0.1s;
    &:hover,
    &:active,
    &:focus {
        color: $accent;
    }   
}