.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width:1250px) {
        justify-content: center;
    }
}

.project {
    padding-bottom: 15px;
    margin-bottom: 50px; 
    box-shadow: 3px 3px 9px 0px #222;
    background-color: #fefefe;
    @media(max-width: 1250px) {
        margin-left: 20px;
        margin-right: 20px;
    }
    @media(max-width:480px) {
        margin-bottom: 25px;
    }
}

.project-img {
    
    border-radius: 3px 3px 0 0;
    width: 300px;
    height: 150px;
    display: block;
    overflow: hidden;
    img {
        transition: all 0.1s;
    }
    &:hover,
    &:active,
    &:focus {
        img {
            transform: scale(1.2);
        }
    }
}

.project-role,
.project-type {
    padding-left: 10px;
    font-size: 18px;
    padding-top: 10px;
    span {
        color: $accent-alt;
        width: 60px;
        font-weight: 700;
        padding-right: 5px;
    }
}

.projects-title {
    @media(max-width:1250px) {
        text-align: center;
    }
}