/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-adv1 {
  background-image: url(../img/spritesheet.png);
  background-position: -82px 0px;
  width: 68px;
  height: 62px;
}
.icon-adv10 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 82px;
  height: 62px;
}
.icon-adv2 {
  background-image: url(../img/spritesheet.png);
  background-position: -60px -124px;
  width: 59px;
  height: 62px;
}
.icon-adv3 {
  background-image: url(../img/spritesheet.png);
  background-position: -66px -62px;
  width: 62px;
  height: 62px;
}
.icon-adv4 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -124px;
  width: 60px;
  height: 62px;
}
.icon-adv5 {
  background-image: url(../img/spritesheet.png);
  background-position: -119px -124px;
  width: 46px;
  height: 57px;
}
.icon-adv6 {
  background-image: url(../img/spritesheet.png);
  background-position: -212px 0px;
  width: 34px;
  height: 59px;
}
.icon-adv7 {
  background-image: url(../img/spritesheet.png);
  background-position: -150px 0px;
  width: 62px;
  height: 62px;
}
.icon-adv8 {
  background-image: url(../img/spritesheet.png);
  background-position: -150px -62px;
  width: 62px;
  height: 62px;
}
.icon-adv9 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -62px;
  width: 66px;
  height: 62px;
}
